.DS_Store
bibframe2ef-V4.rq
fixDates.py
fixSolr.js
fixSolr.py
checkIngested.py
command_line_notes.txt
node_modules*
framing-compacting-example*
worksets/*
node_version/results*
SaxonHE9-9-1-1J/*
outputs/*
xsl/*.pyc
xsl/outputs/*
xsl/outputs_old/*
xsl/inputs/fixed_first_segments/*
xsl/inputs/format_change/*
xsl/__pycache__/*
xsl/test_outputs*
xsl/sample_outputs*
xsl/inputs/201906*
xsl/inputs/test
xsl/python2_test
xsl/test2
xsl/test3
xsl/test4
xsl/big_test_input
xsl/java_test
xsl/error*
xsl/*_output
xsl/*.dat
xsl/*.png
xsl/test_big*
xsl/speed_tests.txt
xsl/debugging*
xsl/ef2_metadata_examples*